#login {
  height: 100%;
  padding: 0;
  margin: 0;
  padding-top: 6%;
  padding-bottom: 2%;
}
#login #judulapp {
  font-weight: 800;
  color: green;
  letter-spacing: 2px;
  /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.6);*/
}
#login #username,
#login #password {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  background-color: rgba(0, 0, 0, 0.35);
  border: none;
  color: #f4f4f4;
}
#login #username:hover,
#login #password:hover,
#login #username:focus,
#login #password:focus {
  background-color: rgba(0, 0, 0, 0.68);
}
#login #blogin {
  font-size: 1.5em;
  padding: 3px 6px;
}
#login hr {
  border-top-color: rgba(0, 0, 0, 0.23);
}